.BuildControls {
  width: 100%;
  background-color: rgba(250, 129, 0, 0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 2px #ccc;
  margin: auto;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
}

.BuildControls h1 {
  color: white;
}
