.Auth {
  margin: 10vh auto;
  width: 80%;
  text-align: center;
  border: 1ps solid #eee;
  box-shadow: 5px 5px 40px #703b09;
  padding: 15px;
  border-radius: 30px;
}

.Auth h1 {
  color: #5C9210;
}

.Auth p {
  font-size: 18px;
  padding: 25px;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 2vw;
  background-color: #5C9210;
  color: white;
}

.Auth label {
  color: #5C9210;
}

.Auth form button {
  margin-top: 3vw;
}

@media (min-width: 600px) {
  .Auth {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .Auth p {
    font-size: 22px;
  }
}
